.git
.github
.deployed-source
.rollback-source
gha-creds-*.json
ci
fixtures
docs
renovate.json5
*.md
docker-compose.*
.env*
.tools
site
secrets
*.pem
*.key
*.p12
*.pfx
*.tfstate
*.tfstate.*
**/node_modules
web/dist
mirador-scribe/dist
uploads/*
cache/*
terraform/*
